.mediaUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.mediaUpload + label {
    display: inline-block;
}

.mediaUpload:focus + label,
.mediaUpload + label:hover {
    background-color: red;
}